body{
    display:flex;
    justify-content: center;
    text-align:center;
    background-color: bisque;
}
.Task{
    align-self: center;
    background-color: antiquewhite;
    padding:2.5%;
}

.Taskiscomplete{ 
    text-decoration: line-through;
    background-color: white;
    padding:2%;
}